/* General */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: 'Arial', sans-serif;
    color: #212529;
}

/* Hero Section */
.hero-section {
    background: url('https://source.unsplash.com/1600x900/?books,library') no-repeat center center/cover;
    padding: 60px 20px;
    flex: 1;
}

.hero-section h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.hero-section p {
    font-size: 1.2rem;
    line-height: 1.6;
    color: #212529;  
}

.hero-section .btn {
    margin: 10px;
}

.custom-title {
    color: black; 
    font-weight: bold; 
}

/* Footer */
.footer {
    background-color: #212529;
    color: #fff;
    font-size: 0.9rem;
    position: relative;
}


/* Navbar */
.navbar {
    margin-bottom: 20px;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff !important;
}

/* Títulos */
h2 {
    font-weight: bold;
    color: #343a40;
}

/* Botones */
.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn-dark {
    background-color: #343a40;
    border-color: #343a40;
}

/* Filtros */
.input-group {
    margin-bottom: 15px;
}

/* Reseñas */
.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
    color: #212529;
}

.card-subtitle {
    font-size: 1rem;
    color: #6c757d;
}

.card-text {
    font-size: 0.9rem;
    color: #495057;
}

/* Modal */
.modal-content {
    border-radius: 10px;
}

.modal-header {
    background-color: #343a40;
    color: #fff;
}

.modal-title {
    font-size: 1.25rem;
}
